<div>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">recipe link</th>
        <th scope="col">comment</th>
        <th scope="col">rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let recipe of recipes">
        <td><link />{{ recipe.recipeLink }}<link /></td>
        <td>
          <span>{{ recipe.comment }}</span>
        </td>
        <td>
          <span>{{ recipe.rating }}</span>
        </td>
        <button (click)="addTolist(recipe)">i want to eat this</button>
      </tr>
    </tbody>
  </table>

  <button (click)="postData()">SEND ME RECIPE</button>
</div>
