<div>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">recipe link</th>
        <th scope="col">comment</th>
        <th scope="col">rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let recipe of recipes">
        <td>
          <a>{{ recipe.recipeLink }}</a>
        </td>
        <td>
          <span>{{ recipe.comment }}</span>
        </td>
        <td>
          <span>{{ recipe.rating }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
